.hero {
  width: 100%;
  height: 255px;
  overflow: hidden;
  z-index: 1; 
}


.hero-image1 {
  width: 70%;
  height: 100%; 
margin-left: 220px;
  object-position: center; /* Centers the image if it gets cropped */
}
