.footer1 {
  background-color: #002244;
  color: #ffffff;
  padding: 30px 0;
  margin-top: 20px;
}

.footer-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 5px;
}

.footer-section ul li a {
  color: #ffcc00;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section.newsletter button {
  padding: 5px;
  font-size: 0.9em;
  background-color: #ffcc00;
  color: #002244;
  border: none;
  margin-top: 3px;
  cursor: pointer;
}
.footer-section.newsletter input{
  padding: 4px;
}


.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 0.8em;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
